.hamburger {
    width: 30px;
    height: 30px;
    background: red;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 3;
    cursor: pointer;
}
.navigation {
    display: block;
    flex: 2;
    z-index: 1;
    h2 {
        display: table;
    }
    .anchors {
        ul {
            list-style: none;
            padding: 0;  
            li a {
                display: inline-block;
                font-size: 15px;
                line-height: 28px;
                color: rgba(0, 0, 0, .3);
                text-decoration: none;
                text-transform: capitalize;
                cursor: pointer;

                &.active {
                    color: #3a3a3a;
                }

                &:hover {
                    color: #3a3a3a;
                }
            } 
        }
    }
}